* {
    margin: 0;
    padding: 0;
}

/* Declaring variables  */
:root {
    --main-bg-color: #32cfe4;
    --main-text-color: #32cfe4;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

.fa-align-left {
    color: black;
}

.fa-align-left:hover {
    color: #0acee8;
}

#logo:hover {
    color: #32cfe4;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(45deg,
            #5dbabc,
            #85dadd,
            #cbf4f7,
            #d4f8ea,
            #ddfaef);
}

#sidebar-wrapper {

    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}